* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #d8f1ef;
    padding: 20px;
    font-family: Arial;
  }
  
.main {
    max-width: 1400px;
    margin: auto;
  }
  

header{
    background-color: rgb(115, 130, 170);
    overflow: hidden;
}

h1{
  font-size: 35px;
  color: rgb(77, 104, 139); 
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header ul a{
    float: right;
    padding-right: 10px;
    padding-bottom: 5px;
    font-size: 20px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a:hover{
    background-color: white;
    color: rgb(31, 27, 27);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
  font-size: 35px;
  color: rgb(36, 37, 37);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
  font-size: 20px;
  color: rgb(51, 52, 56);
  
}

p{
  vertical-align: top;
  float: top;
  padding: 20px;
}  

  .row {
    margin: 8px -16px;
  }
  
  .row,
  .row > .column {
    padding: 8px;
  }
  
  .column {
    float: left;
    width: 25%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .content {
    background-color: rgb(115, 130, 170);
    padding: 10px;
  }

  .footer{
    background-color: rgb(115, 130, 170);
    padding: 10px;
    margin-top: 2%;
  }

  .footer a {
    padding-right: 10px;
    color: rgb(197, 233, 241);
    font-size: 25px;
    font-weight:600;
  }

  .footer a:hover{
    background-color: white;
    color: black;
  }
  
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  